node_modules
npm-debug.log
.git
.github
.gitignore
.dockerignore
.DS_Store
.env
.env.local
.env.*.local
dist
build
coverage
*.swp
*.swo
*~
.vscode
*.log
docker-compose*.*
Dockerfile
Makefile
requirements-dev.txt
package-lock.json
.venv
demo
.ruff_cache
.pre-commit-config.yaml
.ruff